{{ if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
#!/bin/sh
echo "run once os: linux wsl"
{{   else -}}
#!/bin/sh
echo "run once linux"
ls -al ~/.config
{{   end -}}
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
echo "before macos"
{{ end -}}